body {
  font-size: 16px;
  color: #f9f9f9;
  background-color: #a1a0a0;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #c5c2c2;
  border-radius: 0;
  border: 0;
  height: 100px;
  position: relative;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Site Name */
  font-family: 'Lora', serif;
  color: #f9f9f9;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #d9534f;
  margin-top: 130px;
  margin-bottom: 0;
  line-height: .75;
/*  position: absolute;*/
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #f9f9f9;
  background-color: #a1a0a0;
}

.navbar-header button.navbar-toggle:hover {
  border: 2px solid #a1a0a0;
}

.navbar-header button.navbar-toggle {
  clear: both;
  border-radius: 30px;
}

collapsable-nav{
  clear: both;
}

#nav-list {
/*  margin-top: 10px;*/
  background-color: #e1e1e3;
}

#nav-list a {
  color: #a1a0a0;
  text-align: center;
  
}
#nav-list a:hover {
  background: #a1a0a0;
  color: #e1e1e3;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* END HEADER */


/* HOME PAGE */

.container h2 {
  font-family: 'Lora', serif;
  color: #f9f9f9;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #d9534f;
  margin-top: 130px;
  margin-bottom: 40px;
  line-height: .75;
  text-align: center;
}



#Chicken-tile, #Beef-tile, #Sushi-tile {
  height: 250px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 15px;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f4f4f4;
}
#Chicken-tile:hover, #Beef-tile:hover, #Sushi-tile:hover {
  box-shadow: 0 2px 5px 2px #606060 inset;
}

#home-tiles div p {
  width: 100%;
  color: #a1a0a0;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 20px;
  position: relative;
  text-align: justify;
  font-size: 0.9em;
  text-decoration: none;
  position: relative;
}

#Link-title {
  width: 100%;
  color: #a1a0a0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0;
  position: absolute;
  text-align: left;
  font-size: 0.9em;
  text-decoration: none;
}

#Link-title2 {
  width: 100%;
  color: #a1a0a0;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0;
  position: absolute;
  text-align: right;
  font-size: 0.9em;
  text-decoration: none;
}

#Chicken-tile span, #Beef-tile span, #Sushi-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  color: #a1a0a0;
  text-align: center;
  padding-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a1a0a0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a0a0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a0a0; 
}
 
/* END HOME PAGE */

@media (min-width: 1199px) {

}

@media (min-width: 992px) and (max-width: 1198px) {
  .navbar-brand h1 { /* Restaurant name */
    font-size: 3.5vw;
  }
  .container h2 {
  font-size: 3.5vw;
 }
 
}
  
 @media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1 { /* Restaurant name */
  font-size: 4vw; /* 1vw = 1% of viewport width */

}
   .container h2{
  font-size: 4.5vw;
}
 }

/********** Extra small devices only **********/
@media (min-width: 480px) and (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 30px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-left: 5px;
    font-size: 5vw; /* 1vw = 1% of viewport width */

  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
   .container h2{
  font-size: 5.5vw;
}

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (min-width: 0px) and (max-width: 478px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 8vw;
  }

  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: 6px;
  }

  /* End Header */
  
  /* Home page */
  #Chicken-tile, #Beef-tile, #Sushi-tile {
/*    width: 380px;*/
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  .container h2{
  font-size: 10vw;
}
}

* {
  margin:0 auto;
  cursor: url('https://www.pixelliongroup.com/img/cursor.png'), auto;
}
